.row-header{
    margin:0px auto;
    padding: 0px auto;
    
}

.row-content{
    margin: opx auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    background-color: #d1c4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575CD;
    color: floralwhite;
}

.address{
    font-size: 80%;
    margin: 0px ;
    color: #0f0f0f;
}

body{
    padding: 50px 0px 0px;
    z-index: 0;
}

.navbar-dark{
    background-color: #512DA7;
}
footer{
    font-size: smaller;
    font-weight: lighter;
}


cite{
    font-weight: lighter;
    font-style: italic;
}


.radio-inline
{
    display: block;
}

.form-group label{
    font-size: 1.2em;
}

.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.carousel{
    background: #512DAB;

}
.carousel-item{
    height: 300px;
    font-weight: bolder;
    
    
}
.carousel-item img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
    
}
.carousel-item h2{
    font-size: 35px;
    font-weight: bolder;
    padding-inline-end: 10px;
}
.carousel-item p{
    font-size: 20px;
    font-weight: bold;
    
    
}
.modal-title {
    color: black;
}
.modal-body {
    color: black;
}

#carouselButton{
    right: 0px;
    position: absolute;
    bottom: 0px;
}